<head><base href="">
    <title>{% if title_1 != '' %}{{ title_1 }} - {% endif %}Прилипло.Ру</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% if title_1 != '' %}{{ title_1 }} - {% endif %}Прилипло.Ру" />
    <meta name="keywords" content="" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if title_1 != '' %}{{ title_1 }} - {% endif %}Прилипло.Ру" />
    <meta property="og:url" content="https://priliplo.ru" />
    <meta property="og:site_name" content="Прилипло.Ру" />
    <link rel="canonical" href="https://priliplo.ru" />

    <link rel="shortcut icon" href="/static/img/favicons/favicon-32x32.png" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="/static/metronic/html/theme/frontsite/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/metronic/html/theme/frontsite/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>