						
						<!--begin::Toolbar-->
						<div class="toolbar" id="kt_toolbar">
							<!--begin::Container-->
							<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">

<!--layout-partial:layout/page-title/_default.html-->
								{% include "layout/page-title/_default.html" %}

								<!--begin::Actions-->
								<div class="d-flex align-items-center py-1">
									<!--begin::Wrapper-->
									<div class="me-4">
										<!--begin::Menu-->

											<!-- доп кнопки -->
										
										<!--end::Menu-->
									</div>
									<!--end::Wrapper-->

								</div>
								<!--end::Actions-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Toolbar-->
						