{% extends 'base.html' %}

{% block title %}Фотоотчет{% endblock title %}

{% block content %}
    {% if active_application_count > 0 %}
        {% if need_photoreport %}
            {% if photo_report %}
                {% if photo_report.photoreport_status == 1 %}
                    <div class="alert alert-success d-flex align-items-center p-5 mb-10">
                                    <span class="svg-icon svg-icon-2hx svg-icon-success me-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                             width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                                                      fill="#000000" opacity="0.3"></path>
                                                <path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z"
                                                      fill="#000000"></path>
                                            </g>
                                        </svg>
                                    </span>
                        <div class="d-flex flex-column">
                            <h5 class="mb-1"><b>Ваш отчет на проверке у рекламодателя.</b></h5>
                            {#                        <span>Вы можете его отредактировать, если увидели неточность.</span>#}
                        </div>
                    </div>
                {% elif photo_report.photoreport_status == 3 %}
                    <div class="alert alert-warning d-flex align-items-center p-5 mb-10">
                            <span class="svg-icon svg-icon-2hx svg-icon-warning me-4">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                                              fill="#000000" opacity="0.3"></path>
                                        <path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z"
                                              fill="#000000"></path>
                                    </g>
                                </svg>
                            </span>
                        <div class="d-flex flex-column">
                            <h5 class="mb-1"><b>Ваш отчет отклонен рекламодателем</b></h5>
                            <span>
                        Причина отказа: {{ photo_report.description }}
                        <br>
                        <br>
                        <b>Отредактируйте отчет и отправьте его снова.</b>
                    </span>

                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if photo_report.photoreport_status == 3 or form_type == 'create' %}
            <!--begin::Basic info-->
            <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 " data-bs-target="#kt_account_profile_details" aria-expanded="true"
                 aria-controls="kt_account_profile_details">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">Загрузка фотоотчета</h3>

                    {% if form_title_2 %}
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                        <small class="text-muted fs-7 fw-bold my-1 ms-1">{{ form_title_2 }}</small>
                    {% endif %}
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_profile_details">

            {% if active_application_count > 0 %}
                <!--begin::Form-->
                <form id="kt_photoreport_form" class="form" action="{% url "client:save_photoreport" %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form_type == 'edit' %}
                        <input type="hidden" name="id" value="edit" id="kt_photoreport_form_hidden_id">
                    {% endif %}
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">

                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Текущий пробег</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <input type="number" name="odometer" class="form-control form-control-lg form-control-solid"
                                       placeholder="------" value="{{ form.data.odometer }}"/>
                                <div id="fl error_message_odometer" class="fl"></div>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->


                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Фотография одометра</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Image input-->
                                <div class="image-input image-input-outline {% if form_type == 'create' %}image-input-empty{% endif %}"
                                     data-kt-image-input="true"
                                     style="background-size: contain; background-position:center;background-image: url(/static/metronic/html/theme/demo1/dist/assets/media/svg/files/upload.svg)">
                                    <!--begin::Preview existing avatar-->
                                    <div class="image-input-wrapper w-250px h-125px"
                                         style="background-size: contain; background-position:center; {% if form_type == 'edit' %}background-image: url(/media/{{ form.data.photoreport_odometer }}){% endif %}"></div>
                                    <!--end::Preview existing avatar-->
                                    <!--begin::Label-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow fv-row"
                                           data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                           title="Изменить фотографию">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <!--begin::Inputs-->
                                        <input type="file" name="photoreport_odometer" accept=".png, .jpg, .jpeg"/>
                                        <input type="hidden" name="photoreport_odometer_remove"/>
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                                          data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                          title="Отменить загрузку">
                                                                    <i class="bi bi-x fs-2"></i>
                                                                </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                                          data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                          title="Удалить фотографию">
                                                                    <i class="bi bi-x fs-2"></i>
                                                                </span>
                                    <!--end::Remove-->
                                </div>
                                <!--end::Image input-->
                                <!--begin::Hint-->
                                <div class="form-text">Разрешенные типы файлов: png, jpg, jpeg.</div>
                                <!--end::Hint-->
                                <div id="error_message_photoreport_odometer" class="fl"></div>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->


                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Фотография наклейки</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Image input-->
                                <div class="image-input image-input-outline {% if form_type == 'create' %}image-input-empty{% endif %}"
                                     data-kt-image-input="true"
                                     style="background-size: contain; background-position:center;background-image: url(/static/metronic/html/theme/demo1/dist/assets/media/svg/files/upload.svg)">
                                    <!--begin::Preview existing avatar-->
                                    <div class="image-input-wrapper w-250px h-125px"
                                         style="background-size: contain; background-position:center; {% if form_type == 'edit' %}background-image: url(/media/{{ form.data.photoreport_sticker }}){% endif %}"></div>
                                    <!--end::Preview existing avatar-->
                                    <!--begin::Label-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow fv-row"
                                           data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                           title="Изменить фотографию">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <!--begin::Inputs-->
                                        <input type="file" name="photoreport_sticker" accept=".png, .jpg, .jpeg"/>
                                        <input type="hidden" name="photoreport_sticker_remove"/>
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                                          data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                          title="Отменить загрузку">
                                                                    <i class="bi bi-x fs-2"></i>
                                                                </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                                          data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                          title="Удалить фотографию">
                                                                    <i class="bi bi-x fs-2"></i>
                                                                </span>
                                    <!--end::Remove-->
                                </div>
                                <!--end::Image input-->
                                <!--begin::Hint-->
                                <div class="form-text">Разрешенные типы файлов: png, jpg, jpeg.</div>
                                <!--end::Hint-->
                                <div id="error_message_photoreport_sticker" class="fl"></div>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->


                    </div>
                    <!--end::Card body-->
                    <!--begin::Actions-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button type="reset" class="btn btn-white btn-active-light-primary me-2">Отмена</button>
                        <button type="submit" class="btn btn-primary" id="kt_photoreport_form_submit">Отправить</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            {% endif %}
            {% endif %}
        {% else %}
            <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
                <!--begin::Icon-->
                <!--begin::Svg Icon | path: icons/duotone/Design/Select.svg-->
                <span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
													<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                         viewBox="0 0 24 24" version="1.1">
														<path d="M18.5,8 C17.1192881,8 16,6.88071187 16,5.5 C16,4.11928813 17.1192881,3 18.5,3 C19.8807119,3 21,4.11928813 21,5.5 C21,6.88071187 19.8807119,8 18.5,8 Z M18.5,21 C17.1192881,21 16,19.8807119 16,18.5 C16,17.1192881 17.1192881,16 18.5,16 C19.8807119,16 21,17.1192881 21,18.5 C21,19.8807119 19.8807119,21 18.5,21 Z M5.5,21 C4.11928813,21 3,19.8807119 3,18.5 C3,17.1192881 4.11928813,16 5.5,16 C6.88071187,16 8,17.1192881 8,18.5 C8,19.8807119 6.88071187,21 5.5,21 Z"
                                                              fill="#000000" opacity="0.3"></path>
														<path d="M5.5,8 C4.11928813,8 3,6.88071187 3,5.5 C3,4.11928813 4.11928813,3 5.5,3 C6.88071187,3 8,4.11928813 8,5.5 C8,6.88071187 6.88071187,8 5.5,8 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 C14,5.55228475 13.5522847,6 13,6 L11,6 C10.4477153,6 10,5.55228475 10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,18 L13,18 C13.5522847,18 14,18.4477153 14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 C10,18.4477153 10.4477153,18 11,18 Z M5,10 C5.55228475,10 6,10.4477153 6,11 L6,13 C6,13.5522847 5.55228475,14 5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 C18.4477153,14 18,13.5522847 18,13 L18,11 C18,10.4477153 18.4477153,10 19,10 Z"
                                                              fill="#000000"></path>
													</svg>
												</span>
                <!--end::Svg Icon-->
                <!--end::Icon-->

                <!--begin::Wrapper-->
                <div class="d-flex flex-stack flex-grow-1">
                    <!--begin::Content-->
                    <div class="fw-bold">
                        <div class="fs-6 text-gray-600">
                            Вы уже отправили фотоотчет. Бонусы за этот отчетный период начисленны на ваш счет. Дождитесь нового отчетного периода.
                            <!--{{ days_from_accept }}-->
                        </div>
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Wrapper-->
            </div>
        {% endif %}

    {% else %}
        <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
            <!--begin::Icon-->
            <!--begin::Svg Icon | path: icons/duotone/Design/Select.svg-->
            <span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
													<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                         viewBox="0 0 24 24" version="1.1">
														<path d="M18.5,8 C17.1192881,8 16,6.88071187 16,5.5 C16,4.11928813 17.1192881,3 18.5,3 C19.8807119,3 21,4.11928813 21,5.5 C21,6.88071187 19.8807119,8 18.5,8 Z M18.5,21 C17.1192881,21 16,19.8807119 16,18.5 C16,17.1192881 17.1192881,16 18.5,16 C19.8807119,16 21,17.1192881 21,18.5 C21,19.8807119 19.8807119,21 18.5,21 Z M5.5,21 C4.11928813,21 3,19.8807119 3,18.5 C3,17.1192881 4.11928813,16 5.5,16 C6.88071187,16 8,17.1192881 8,18.5 C8,19.8807119 6.88071187,21 5.5,21 Z"
                                                              fill="#000000" opacity="0.3"></path>
														<path d="M5.5,8 C4.11928813,8 3,6.88071187 3,5.5 C3,4.11928813 4.11928813,3 5.5,3 C6.88071187,3 8,4.11928813 8,5.5 C8,6.88071187 6.88071187,8 5.5,8 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 C14,5.55228475 13.5522847,6 13,6 L11,6 C10.4477153,6 10,5.55228475 10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,18 L13,18 C13.5522847,18 14,18.4477153 14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 C10,18.4477153 10.4477153,18 11,18 Z M5,10 C5.55228475,10 6,10.4477153 6,11 L6,13 C6,13.5522847 5.55228475,14 5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 C18.4477153,14 18,13.5522847 18,13 L18,11 C18,10.4477153 18.4477153,10 19,10 Z"
                                                              fill="#000000"></path>
													</svg>
												</span>
            <!--end::Svg Icon-->
            <!--end::Icon-->

            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-grow-1">
                <!--begin::Content-->
                <div class="fw-bold">
                    <div class="fs-6 text-gray-600">
                        Вы не участвуете ни в одной акции. Для участия, выберите интересную вам акцию у любого из
                        активных рекламодателей.
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->
        </div>
    {% endif %}
</div>
<!--end::Content-->
</div>
    <!--end::Basic info-->
{% endblock content %}

{% block javascript %}
    <script src="/static/metronic/html/theme/demo1/dist/assets/js/custom/priliplo/client/photoreport.js"></script>
{% endblock javascript %}