							<!--begin::Menu wrapper-->
							<div class="header-menu flex-column flex-lg-row" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}">
								<!--begin::Menu-->
								<div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch flex-grow-1" id="#kt_header_menu" data-kt-menu="true">

                                    {% for menu_category in menu_categories %}
                                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
                                            <span class="menu-link py-3">
                                                <span class="menu-title">{{ menu_category.title }}</span>
                                                <span class="menu-arrow d-lg-none"></span>
                                            </span>
                                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-5 p-lg-5">
                                                {% include "frontend/layout/header/__mega-menu.html" with menu_category=menu_category %}
                                            </div>
                                        </div>
                                    {% endfor %}
								</div>
								<!--end::Menu-->
								<!--begin::Actions-->
{% comment %}								<div class="flex-shrink-0 p-4 p-lg-0 me-lg-2">
									<a href="?page=documentation/getting-started" class="btn btn-sm btn-light-primary fw-bolder w-100 w-lg-auto" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" title="200+ in-house components and 3rd-party plugins">Docs &amp; Components</a>
								</div>{% endcomment %}
								<!--end::Actions-->
							</div>
							<!--end::Menu wrapper-->
							