{% load badges %}
<!--begin::Aside Menu-->
<div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
    <!--begin::Menu-->
    <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
        <div class="menu-item">
            <a class="menu-link active" href="/client">
										<span class="menu-icon">
											<i class="bi bi-house fs-3"></i>
										</span>
                <span class="menu-title">Сводка</span>
            </a>
        </div>
        <div class="menu-item">
            <a class="menu-link" href="/client/advertisers/">
										<span class="menu-icon">
											<i class="bi bi-hdd-stack fs-2"></i>
										</span>
                <span class="menu-title">Список рекламодателей
                    {% show_badge %}
                </span>
            </a>
        </div>
        <div class="menu-item">
            <a class="menu-link" href="/client/photoreport">
										<span class="menu-icon">
											<i class="fas fa-file-upload fs-3"></i>
										</span>
                <span class="menu-title">Фотоотчет</span>
            </a>
        </div>
        <div class="menu-item">
            <a class="menu-link" href="/client/photoreports_history">
										<span class="menu-icon">
											<i class="fas fa-history fs-3"></i>
										</span>
                <span class="menu-title">Архив фотоотчетов</span>
            </a>
        </div>
    </div>
    <!--end::Menu-->
</div>
