{% extends 'base.html' %}

{% block title %}Создать акцию{% endblock title %}

{% block content %}
<!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 "  data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Информация об акции</h3>
        </div>
        <!--end::Card title-->
    </div>
    <!--begin::Card header-->







    <div id="kt_content_container" class="container">









        <!--begin::Stepper-->
        <div class="stepper stepper-pills stepper-column d-flex flex-column flex-lg-row" id="kt_create_account_stepper">
            <!--begin::Aside-->
            <div class="d-flex flex-row-auto w-100 w-lg-300px">
                <!--begin::Nav-->
                <div class="stepper-nav flex-cente">
                    <!--begin::Step 1-->
                    <div class="stepper-item me-5 current" data-kt-stepper-element="nav">
                        <!--begin::Line-->
                        <div class="stepper-line w-40px"></div>
                        <!--end::Line-->

                        <!--begin::Icon-->
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">1</span>
                        </div>
                        <!--end::Icon-->

                        <!--begin::Label-->
                        <div class="stepper-label">
                            <h3 class="stepper-title">
                                Расчет стоимости акции
                            </h3>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Step 1-->

                    <!--begin::Step 2-->
                    <div class="stepper-item me-5" data-kt-stepper-element="nav">
                        <!--begin::Line-->
                        <div class="stepper-line w-40px"></div>
                        <!--end::Line-->

                        <!--begin::Icon-->
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">2</span>
                        </div>
                        <!--begin::Icon-->

                        <!--begin::Label-->
                        <div class="stepper-label">
                            <h3 class="stepper-title">
                                Описание акции
                            </h3>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Step 2-->

                    <!--begin::Step 3-->
                    <div class="stepper-item me-5" data-kt-stepper-element="nav">
                        <!--begin::Line-->
                        <div class="stepper-line w-40px"></div>
                        <!--end::Line-->

                        <!--begin::Icon-->
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">3</span>
                        </div>
                        <!--begin::Icon-->

                        <!--begin::Label-->
                        <div class="stepper-label">
                            <h3 class="stepper-title">
                                Завершение создания акции
                            </h3>

                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Step 3-->

                </div>
                <!--end::Nav-->
            </div>

            <!--begin::Content-->
            <div class="flex-row-fluid">
                <!--begin::Form-->
                <form id="create_campaign_form" class="form mx-auto" action="{% url "company:save_campaign_data" %}" method="post" novalidate="novalidate" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="advertiser_settings_sticking_cost" value="{{ advertiser_settings.sticking_cost }}">
                    <input type="hidden" id="advertiser_settings_period_cost" value="{{ advertiser_settings.period_cost }}">
                    <input type="hidden" id="advertiser_settings_logo_cost" value="{{ advertiser_settings.logo_cost }}">
                    <input type="hidden" id="advertiser_balance" value="{{ advertiser.balance }}">
                    <!--begin::Group-->
                    <div class="mb-5">
                        <!--begin::Step 1-->
                        <div class="flex-column current" data-kt-stepper-element="content">

                            <!--begin::Heading-->
                            <div class="pb-10 pb-lg-15">
                                <!--begin::Title-->
                                <h2 class="fw-bolder d-flex align-items-center text-dark">Оценка стоимости акции</h2>
                                <!--end::Title-->
                                <!--begin::Notice-->
                                <div class="text-gray-400 fw-bold fs-6">Если на счете недостаточно средств для создания акции, сначала вам нужно
                                    <a href="{% url "company:select_payment" %}" class="link-primary fw-bolder">пополнить баланс</a>.</div>
                                <!--end::Notice-->
                            </div>
                            <!--end::Heading-->

                            <!--begin::Input group-->
                            <div class="fv-row">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <div class="col-12">
                                        {#                                        {% if form_type == 'create' %}#}
                                        <div class="row mb-6">
                                            <label class="col-lg-4 col-form-label fw-bold fs-6">&nbsp;</label>
                                            <div class="col-lg-8 fv-row">
                                                Стоимость создания акции: <span class="campaign_cost">0.00</span> руб
                                            </div>
                                        </div>
                                        {#                                        {% endif %}                                        #}


                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Требуется автомобилей</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row">
                                                <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" min="0" type="number" name="quota" id="quota" class="form-control form-control-lg form-control-solid" placeholder="Укажите количество автомобилей" value="{{ form.data.quota }}" />
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->

                                    </div>
                                    <!--end::Col-->

                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Input group-->

                        </div>
                        <!--begin::Step 1-->

                        <!--begin::Step 2-->
                        <div class="flex-column" data-kt-stepper-element="content">
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">Название акции</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="text" name="title" class="form-control form-control-lg form-control-solid" placeholder="Название акции" value="{{ form.data.title }}" />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->

                            <div class="row mb-6">

                                <!--begin::Col-->

                                <div class="col-lg-4 col-form-label required fw-bold fs-6">
                                    Дата окончания приема заявок от участников
                                    <br><small class="text-muted">Срок действия акции 84 дня с момента последней заявки</small>
                                </div>

                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <div class="position-relative d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotone/Interface/Calendar.svg-->
                                        <span class="svg-icon position-absolute ms-4 mb-1 svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M6 3C6 2.44772 6.44772 2 7 2C7.55228 2 8 2.44772 8 3V4H16V3C16 2.44772 16.4477 2 17 2C17.5523 2 18 2.44772 18 3V4H19C20.6569 4 22 5.34315 22 7V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V7C2 5.34315 3.34315 4 5 4H6V3Z" fill="#191213" />
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 12C9.44772 12 9 12.4477 9 13C9 13.5523 9.44772 14 10 14H17C17.5523 14 18 13.5523 18 13C18 12.4477 17.5523 12 17 12H10ZM7 16C6.44772 16 6 16.4477 6 17C6 17.5523 6.44772 18 7 18H13C13.5523 18 14 17.5523 14 17C14 16.4477 13.5523 16 13 16H7Z" fill="#121319" />
															</svg>
														</span>
                                        <!--end::Svg Icon-->
                                        <input class="form-control form-control-solid ps-12" name="end_date" placeholder="Выберите дату" value="{{ form.data.end_date }}" id="kt_datepicker_1" />
                                    </div>
                                </div>
                                <!--begin::Col-->
                            </div>
                            <!--end::Row-->



                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">
                                    Бонусы за отчетный период
                                    <br><small class="text-muted">Бонусы начисляются раз в 14 дней</small>
                                </label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <div class="input-group">
                                        <input type="number" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" min="0" name="award" id="award" class="form-control form-control-lg form-control-solid" value="{{ form.data.award }}" placeholder="Сколько бонусов получит участник за 14 дней" />
                                        <span class="input-group-text min-w-25" id="award_hint_text">0 бонусов за 84 дня </span>
                                    </div>
                                    <div class="text-center"><small>Сколько бонусов получит участник за 14 дней</small></div>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->


                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">Текст наклейки</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <textarea class="form-control form-control-solid" rows="3" name="sticker_text" placeholder="Какая информация должна быть на наклейке" required>{{ form.data.sticker_text }}</textarea>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">Загрузите логотип</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="file" name="logo_image" class="form-control form-control-lg form-control-solid" placeholder="Макет наклейки" required />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            {% comment %}{% endif %}{% endcomment %}
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">Условия участия в акции</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <textarea class="form-control form-control-solid" rows="3" name="short_description" placeholder="Требования для участников и подробные условия акции ">{{ form.data.short_description }}</textarea>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            {% comment %}<div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-bold fs-6">Макет наклейки</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <!--begin::Image input-->
                                    <div class="image-input image-input-outline image-input-empty" data-kt-image-input="true" style="background-size: contain; background-position:center;background-image: url(/static/metronic/html/theme/demo1/dist/assets/media/svg/files/upload.svg)">
                                        <!--begin::Preview existing avatar-->
                                        <div class="image-input-wrapper w-250px h-125px" style="background-size: contain; background-position:center;"></div>
                                        <!--end::Preview existing avatar-->
                                        <!--begin::Label-->
                                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Изменить фотографию">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <!--begin::Inputs-->
                                            <input type="file" name="campaign_image" accept=".png, .jpg, .jpeg, .cdr, .svg, .eps, .pdf, .ai, .psd, .tiff" />
                                            <input type="hidden" name="avatar_remove" />
                                            <!--end::Inputs-->
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Cancel-->
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Отменить загрузку">
																<i class="bi bi-x fs-2"></i>
															</span>
                                        <!--end::Cancel-->
                                        <!--begin::Remove-->
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Удалить фотографию">
																<i class="bi bi-x fs-2"></i>
															</span>
                                        <!--end::Remove-->
                                    </div>
                                    <!--end::Image input-->
                                    <!--begin::Hint-->
                                    <div class="form-text"><small>Разрешенные типы файлов: png, jpg, jpeg, cdr, svg, eps, pdf, ai, psd, tiff.</small></div>
                                    <!--end::Hint-->
                                </div>
                                <!--end::Col-->
                            </div>{% endcomment %}
                            <!--end::Input group-->



                            {% if form_type == 'create' %}
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">&nbsp;</label>
                                    <div class="col-lg-8 fv-row">
                                        Стоимость создания акции: <span class="campaign_cost">0.00</span> руб
                                    </div>
                                </div>
                            {% endif %}


                        </div>
                        <!--begin::Step 2-->


                        <!--begin::Step 3-->
                        <div class="flex-column" data-kt-stepper-element="content">
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <h3 class="text-center">Почти все готово!</h3>
                                <h4 class="text-center">Нажмите "Сохранить" для создания акции</h4>
                            </div>
                            <!--end::Input group-->

                        </div>
                        <!--begin::Step 3-->
                    </div>
                    <!--end::Group-->

                    <!--begin::Actions-->
                    <div class="d-flex flex-stack">
                        <!--begin::Wrapper-->
                        <div class="me-2">
                            <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">
                                Назад
                            </button>
                        </div>
                        <!--end::Wrapper-->

                        <!--begin::Wrapper-->
                        <div>
                            <button type="button" class="btn btn-primary" data-kt-stepper-action="submit">
                        <span class="indicator-label">
                            Сохранить
                        </span>
                                <span class="indicator-progress">
                            Подождите... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                            </button>

                            <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                                Продолжить
                            </button>
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
        </div>
        <!--end::Stepper-->




    </div>
    </div>



<!--end::Basic info-->
{% endblock content %}

{% block javascript %}
{% comment %}<script src="/static/metronic/html/theme/demo1/dist/assets/js/custom/priliplo/company/create_campaign.js"></script>{% endcomment %}
<script src="/static/metronic/html/theme/demo1/src/js/custom/priliplo/company/create_campaign_wizard.js"></script>
{% endblock javascript %}