{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Список задач{% endblock title %}


{% block content %}
    <!--begin::Basic info-->
    <div class="card mb-5 mb-xl-10">
        <!--begin::Card header-->
        <div class="card-header border-0 " data-bs-target="#kt_task_details" aria-expanded="true" aria-controls="kt_task_details">
            <!--begin::Card title-->
            <div class="card-title m-0">
                {% if form_type == 'edit' %}
                    <h3 class="fw-bolder m-0">Редактирование задачи</h3>
                {% else %}
                    <h3 class="fw-bolder m-0">Создание задачи</h3>
                {% endif %}
            </div>
            <!--end::Card title-->
        </div>
        <!--begin::Card header-->
        <!--begin::Content-->
        <div id="kt_task_details" >
            <!--begin::Form-->

            <form id="create_task_form" class="form" action="{% url "adminpanel:save_task_data" %}" method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                {% if form_type == 'edit' %}
                    <input type="hidden" name="id" value="{{ obj_id }}">
                {% endif %}

                <!--begin::Card body-->
                <div class="card-body border-top p-9">

                    {% if form_type == 'create' %}
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">&nbsp;</label>
                            <div class="col-lg-8 fv-row">
                                Стоимость создания акции: <span class="campaign_cost">0.00</span> руб
                            </div>
                        </div>
                    {% endif %}

                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label required fw-bold fs-6">Название акции</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8 fv-row">
                            <input type="text" name="title" class="form-control form-control-lg form-control-solid" placeholder="Название акции" value="{{ form.data.title }}" />
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    {% if form_type == 'create' %}
                        <div class="row mb-6">

                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <div class="position-relative d-flex align-items-center">
                                    <!--begin::Svg Icon | path: icons/duotone/Interface/Calendar.svg-->
                                    <span class="svg-icon position-absolute ms-4 mb-1 svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M6 3C6 2.44772 6.44772 2 7 2C7.55228 2 8 2.44772 8 3V4H16V3C16 2.44772 16.4477 2 17 2C17.5523 2 18 2.44772 18 3V4H19C20.6569 4 22 5.34315 22 7V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V7C2 5.34315 3.34315 4 5 4H6V3Z" fill="#191213" />
																<path fill-rule="evenodd" clip-rule="evenodd" d="M10 12C9.44772 12 9 12.4477 9 13C9 13.5523 9.44772 14 10 14H17C17.5523 14 18 13.5523 18 13C18 12.4477 17.5523 12 17 12H10ZM7 16C6.44772 16 6 16.4477 6 17C6 17.5523 6.44772 18 7 18H13C13.5523 18 14 17.5523 14 17C14 16.4477 13.5523 16 13 16H7Z" fill="#121319" />
															</svg>
														</span>
                                    <!--end::Svg Icon-->
                                    <input class="form-control form-control-solid ps-12" name="end_date" placeholder="Выберите дату" value="{{ form.data.end_date }}" id="kt_datepicker_1" />
                                </div>
                            </div>
                            <!--begin::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Требуется автомобилей</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <input type="number" name="quota" id="quota" class="form-control form-control-lg form-control-solid" placeholder="Укажите количество автомобилей" value="{{ form.data.quota }}" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->







                    {% endif %}
                    <!--begin::Input group-->
                    <div class="row mb-6">
                        <!--begin::Label-->
                        <label class="col-lg-4 col-form-label required fw-bold fs-6">Условия участия в акции</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8 fv-row">
                            <textarea class="form-control form-control-solid" rows="3" name="short_description" placeholder="Требования для участников и подробные условия акции ">{{ form.data.short_description }}</textarea>
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->



                    {% if form_type == 'create' %}
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">&nbsp;</label>
                            <div class="col-lg-8 fv-row">
                                Стоимость создания акции: <span class="campaign_cost">0.00</span> руб
                            </div>
                        </div>
                    {% endif %}


                </div>
                <!--end::Card body-->
                <!--begin::Actions-->
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <button type="reset" class="btn btn-white btn-active-light-primary me-2">Отмена</button>
                    <button type="submit" class="btn btn-primary" id="create_campaign_form_submit">Сохранить</button>
                </div>
                <!--end::Actions-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Basic info-->
{% endblock content %}

{% block css %}

{% endblock css %}

{% block javascript %}

    <script src="/static/metronic/html/theme/demo1/dist/assets/plugins/custom/fslightbox/fslightbox.bundle.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>

    <script>
    </script>
{% endblock javascript %}
